*{
    padding: 0px;
    margin: 0px;
}

.mainPage{
    display: flex;
}

.sidebar{
    flex: 1.3;   
    height: 1002px; 
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

.side1{
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side1>button{
    background-color: #000000;
    color: white;
    border: none;
}

.side1>button:hover{
    background-color: #181818;   
}

.side-content{
font-family: DM Sans;
font-size: 19px;
font-weight: 700;
text-align: left;
}

.home>div{
    margin: 10px;
}
.search>div{
    margin: 10px; 
}
.library>div{
    margin: 10px;
}

.side2{
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-playlist>div{
    margin: 10px;
}
.songs>div{
    margin: 10px;
}
.episodes>div{
    margin: 10px;
}

.playlist-icon{
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: 37.06px;
    width: 37.06px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-icon{
    background-image: url(./images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    height: 37.06px;
    width: 37.06px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.episode-icon{
    background-image: url(./images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    height: 37.06px;
    width: 37.06px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side2>button{
    background-color: #000000;
    color: white;
    border: none;
}

.side2>button:hover{
    background-color: #181818;   
}

.side3{
    width: 100%;
    height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side3>a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.side3>a:hover{
    color: white;
}

.install{
    background-color: #000000;
    color: white;
    border: none;
}
.install:hover{
    background-color: #181818;
}

.mainbar{
    flex: 4;
    height: 1115.8px;
    background: linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.arrow-background{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #131313;
}
.user-tag{
    height: 40px;
    width: 150px;
    border-radius: 33px;
    background-color: #0A0A0A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist{
    width: 1147px;
    height: 295px;
}
.title{
    font-size: 38px;
    font-weight: 700;
}
.playlist-card{
    height: 100px;
    width: 362px;
    background-color: #0A0A0A;
    margin: 10px;
}
.song-icon-2{
    background-image: url(./images/Rectangle\ 2-big.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tracks{
    height: 664px;
    width: 1103px;
}
.title-1-heading{
font-size: 29px;
font-weight: 700;
}
.title-1>a{
font-size: 17px;
font-weight: 700;
color: #B3B3B3;
text-decoration: none;
}
.title-1>a:hover{
   color: #B3B3B3; 
}

.track-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playlist-card-1{
flex: 1 1 200px;
margin: 10px;
padding: 20px;
background-color: #282828;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 251px;
height: 313px;
background-color: #181818;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.musicPlayer{
    position: fixed;
    bottom: 30px;
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: #282828;
    background-color:#181818;
    color: white;
}
.content1{
    font-size: 21px;
    font-weight: 500;
}
.content2{
    font-size: 15px;
    font-weight: 500;
    color: #B3B3B3;
}

.track-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
}

.cp-bar{

}

.controlls{
    width: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controlls>img{
    margin: 10px;
}

.seek{
    height: 5px;
    width: 511px;
    background-color:#535353;
    margin-inline: 10px;
}

.seek-1{
    height: 5px;
    width: 75%; 
    background-color:#C4C4C4;
}

.volume-seek{
    height: 5px;
    width: 104px; 
    background-color:#C4C4C4;
}
.volume>img{
    padding: 5px;
}

.footer{
    height: 30px;
    width: 100%;
    background-color:#1ED760;
    position: fixed;
    bottom: 0px;
}

.footer-content{
font-size: 17px;
font-weight: 700;
text-align: right;
color: #000000;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .sidebar{
        height: 1430px;
    }
   .mainbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   }
    .playlist{
        width: 500px;
        height: 495px;
    }
    .tracks{
        height: 1000px;
        width: 500px;
    }
    .title-1{
     margin-top: 40px;
     align-items: center;
    }
    .playlist-card-1{
        width: 125px;
        height: 200px;
        }
    .playlist-card-1>img{
        width: 100px;
        height: 100px;
    }
    .side-content{
        font-family: DM Sans;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        }
    .side1>div>div>img{
        height: 40px;
        width: 40px;
    }
    .side2>div>div>img{
        height: 40px;
        width: 40px;
    }

    .musicPlayer{
        position: fixed;
    bottom: 30px;
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: #282828;
    background-color:#181818;
    color: white;
    }
    .content1{
        font-size: 21px;
        font-weight: 500;
    }
    .content2{
        font-size: 15px;
        font-weight: 500;
        color: #B3B3B3;
    }
    
    .track-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 125px;
    }

    .info-d1{
        font-size: 12px; 
        font-weight: 700
    }
    
    .info-d2{
        font-size: 10px; 
        font-weight: 700;
        color: #B3B3B3;
    }
    
    .controlls{
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controlls>img{
        margin: 10px;
    }
    
    .seek{
        height: 5px;
        width: 200px;
        background-color:#535353;
        margin-inline: 10px;
    }
    
    .seek-1{
        height: 5px;
        width: 75%; 
        background-color:#C4C4C4;
    }
    
    .volume-seek{
        height: 5px;
        width: 54px; 
        background-color:#C4C4C4;
    }
    .volume>img{
        padding: 5px;
    }
}